.text-silver{
    color:rgb(95, 95, 95);
}

.icons{
    font-size: 25px;
}
.icons--g{
    color: rgb(88, 142, 88)

}
.icons--r{
    color: rgb(161, 102, 102)

}
.icons--b{
    color: rgb(92, 92, 212);

}